@font-face {
    font-family: 'drawveticaminimedium';
    src: url('./fonts/DrawveticaMini-webfont.woff') format('woff'),
         url('./fonts/DrawveticaMini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  color: #000;
  font-family: 'drawveticaminimedium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
