@font-face {
    font-family: 'drawveticaminimedium';
    src: url('./fonts/DrawveticaMini-webfont.woff') format('woff'),
         url('./fonts/DrawveticaMini.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  color: #505050;
  font-family: 'drawveticaminimedium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.MuiSlider-root.MuiSlider-colorPrimary {
  color: darkgrey;
}

span.MuiSlider-thumb.MuiSlider-thumbColorPrimary.MuiSlider-active,
span.MuiSlider-thumb.Mui-focusVisible, span.MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgb(169,169,169, 0.16);
}

span.MuiSlider-thumb,
span.Muislider-thumb.MuiSlider-thumbColorPrimary,
span.MuiSlider-thumb.MuiSlider-thumbColorPrimary.MuiSlider-active {
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-top: -10px;
  background: url('./images/skull-icon-01.png');
  background-size: contain;
  opacity: 70%;
  transform: rotate(30deg);
}

button {
  background: none;
  border: 0.5px dashed gainsboro;
  padding: none;
  margin: 10px 0 0 -5px;
  outline: none;
}

button:hover {
  background: whitesmoke;
}

button:focus {
  outline: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.canvas {
  position: relative;
}

.header {
  position: absolute;
  top: 50px;
  left: 0;
}

.zomboji-base {
  height: 800px;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.customiser {
  width: 80px;
}
